body{
  background-color: #FFFFFF;
}
#marcador{
  width: 100%;
  height: 60px;
  background: #FF4500	;
  border-radius: 25px;
}
.botones{
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 280px;
    font-family: 'Amatic SC', cursive;
    color:#FFFFFF;
    font-size: 25px;
    background: #FF4500;
}
nav{
  text-align: center;
  font-family:  'Permanent Marker', cursive;
  font-size: 50px;
  color: #FF4500;
}
img{
  width: 70px;
  height: 70px;
  margin-top: 0px;
  margin-left: 10px;
}
article{
  position: relative;
  align-content: center;

}
